$primary-color: #f0f0f0;
$secondary-color: #33471A;
$accent-color: #507029;
$text-color-dark: black;
$text-color-light: white;

$font-size-p: 1.1em;
$font-size-h1: 2.4em;
$font-size-h2: 1.8em;
$font-size-h3: 1.4em;
$font-size-nav: 1.3em;