header {
    position: relative;
    display:flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 80vh;
    background-image: url("../assets/images/FJP-ConsultingHero.WebP");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .header-content {
        position: relative;
        z-index: 2;
        width: min(600px, 90%);
        margin: 10% 10%;
    }
    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        background-color: #33471a96;
        z-index: 1;
        pointer-events: none;
    }
}


.header-nav {
    position: sticky;
    top: 0;

    background: linear-gradient(to bottom,#33471A, #507029);
    color:white;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;

    p {
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        opacity: 0.8;
        transition: border-bottom 0.3s ease, opacity 0.3s ease;

        &:hover {
            opacity: 1;
            border-bottom: 2px solid white;
        }
        &.active {
            border-bottom: 2px solid white;
            opacity: 1;
        }
    }
}
