@use '../base/variables' as *;

#home {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: row;
    width: min(1100px, 90%);
    align-items: flex-start;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-right: 3em;
    
    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $accent-color;
        color: $text-color-light;
        font-size: 1.1em;
        font-weight:bold;
        border-radius: 8px;
        padding: 2em;
        margin-bottom: 1em;
        width: 300px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
}

.home-text {
    display: flex;
    flex-direction: column;

    & p {
        margin: 1em 0;
    }

    & .contact-button {
        margin-top: 1em;
        align-self: center;
        justify-self: center;
    }
}